<H1> Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

Data Science Tools|
------------------
RStudio|
Apache Spark|
TensorFlow|

<H3> Below are few examples of evaluating arithmetic expression in python

In [8]:
# This a simple arithmetic expression to mutiply then add integers. 

(3+4)+5

12

In [11]:
# This will convert 200 minutes to hours by diving by 60. 

200/60

3.3333333333333335

### **Objectives : List popular languages for Data Science**
* Python
* R
* SQL
* Scala
* Java
* Julia

# <H2> Auther
#### Soumen Mandal